body{
    font-family: 'Roboto Slab', serif;
    border: white;
    padding-left: 120px;
    width: 100%;
}
h1 {
    font-weight: 900;
    font-size: 50px;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 40px;
    padding: 50px;

    border-radius: 15px;
    background-color: darkcyan;

}

.link-button {
    text-decoration: none;
    background-color: rgb(255, 115, 0);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;

}

#img {
    position: relative;
    top: 53px;
}

/* Second section */
.small-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    margin-right: 70px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 20px;




}

.small-box button {
    margin-top: 20px;
    font-size: 1.5em;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: 20px;
}

.small-container {
    width: 270px;
    border: 2px solid lightgray;
    margin-left: 40px;
    background-color: lightslategrey;
    border-radius: 10px;
    align-items: center;


}

.small-box button[class="active"] {
    background-color: red;
    color: white;
    border: 0;
}
.active:hover {
    background-color: green;
}
/* grid */
.live-show{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2px;
    justify-content: baseline;
    width: 200px;
    position: relative;
    left: 260px;
    top: -270px;
    right: 50px;
    padding: 10px;
    border-spacing: 0px;
    
}








.upcoming-match{
    width: 250px;
    border: 2px solid lightgray;
    margin-left: 44px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-right: 2px;
    



}
.country-flag{
    display: flex;
}




.box-info{
    display: flex;
    flex-direction: column;
    width: 250px;

    
}
/* footer */
footer {
    background-color: black;
    padding: 50px;
    margin-right: 200px;
    padding-right: 100px;
    width: 100%;
    position: relative;
    right: 130px;



}

.footer-property {
    display: flex;
    gap: 20px;
    position: relative;
    left: 350px;
    color: burlywood;
}

.goal {
    position: relative;
    left: 600px;
    color: aliceblue;
}

.follow {
    position: relative;
    left: 600px;
    color: rgb(239, 40, 0);
}






